.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.maxwid{
    max-width: 1920px;
}
*{
    margin: 0;
 }
 body{
    margin: auto;
 }
 .white{
   color: white;
 }
.firsnav{
    background-color: rgba(65, 37, 103, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    
}
.navul{
    display: flex;
    gap: 32px;
    list-style: none;

}
.navli a{
    color: white;
    text-decoration: none;
    margin: auto 0;
    font-weight: 500;
    
}
.firstnavh1{
    color: white;
}

    
.h1color{
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%


    );
     -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
   
   
}
.navbtn
 {
    width: 135px;
    height: 44px;
     background: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%


    );
    border-radius: 28px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
 }
 .banner{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
 }
 .imagecontainerban{
     background: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%


    );
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 40px;
   
    position: absolute;
    top: 101px;
    border: 6px solid rgba(42, 24, 108, 1);

 }
 .newbannertxt{
    position: absolute;
    right: 28px;
    top: 0px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 25px;
    padding: 8px 16px;

 }

 .bannertext{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 491px;
 }
 .bannerh1{
    margin-bottom: 8px;
    font-size: 4rem;
 }
 .bannerp{
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 24px;
 }
 .btndiv{
    display: flex;
    gap: 8px;
 }
 .bannerbtn1{
    width: 201px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: linear-gradient(
        90deg,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%


    );
    border-radius: 28px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
 }
 .bannerbtn2{
    background-color: rgba(26, 11, 46, 1);
    color:rgba(0, 255, 136, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 28px;
    width: 147px;
 }
 .afterhead{
   background-color: rgba(26, 11, 46, 1);
   text-align: center;
   padding: 50px;
  
   
 }
 .afterpara{
   max-width: 1600px;
   width: 60%;
    margin: auto;
    
 }
 .afterh1{
   font-size: 3rem;
   margin-bottom: 16px;
 }
 .afterfirstpara,.aftersecpara{
   width: 70%;
   margin: auto;
   font-weight: 200;
   color: white;
   line-height: 1.5rem;
   margin-bottom: 60px;
   
 }
 .h{
   background-color: #120526;
   max-width: 70%;
   margin: auto;
   margin-bottom: 30px;
   border: none;             
    height: 1px;               
    background-color: #ffffff;  
    opacity: 0.1;
 }
 

.afterdiv{
   display: flex;
   margin: auto;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 120px;
}
.conh1{
   color: rgba(0, 255, 136, 1);
   margin: 16px;
}
.conp{
   font-weight: 200;
}
.grid{
   background-color: rgba(35, 14, 61, 1);
}
.gridh1{
   max-width: 70%;
   text-align: center;
   margin: auto;
   padding-top: 120px;
   padding-bottom: 40px;
   
}
.audio{
   grid-area: audio;
   background-color: rgba(53, 17, 101, 0.4);
   max-width: 380px;
   display: flex;
   justify-content: center;
   align-items: first baseline;
   flex-direction: column;
   padding: 40px;
   border-radius: 20px;
}
.audio2{
   grid-area: audio2;
   background-color: rgba(53, 17, 101, 0.4);
   max-width: 790px;
   display: flex;
   justify-content: center;
   align-items: first baseline;
   flex-direction: column;
   padding: 40px;
   border-radius: 20px;
}
.audio3{
   grid-area: audio3;
   background-color: rgba(53, 17, 101, 0.4);
   max-width: 790px;
   display: flex;
   justify-content: center;
   align-items: first baseline;
   flex-direction: column;
   padding: 40px;
   border-radius: 20px;
}
.audio4{
   grid-area: audio4;
   background-color: rgba(53, 17, 101, 0.4);
   max-width: 790px;
   display: flex;
   justify-content: center;
   align-items: first baseline;
   flex-direction: column;
   padding: 40px;
   border-radius: 20px;
}
.audio5{
   grid-area: audio5;
   background-color: rgba(53, 17, 101, 0.4);
   max-width: 380px;
   display: flex;
   justify-content: center;
   align-items: first baseline;
   flex-direction: column;
   padding: 40px;
   border-radius: 20px;
}
.grids{
   display: grid;
   grid-template-areas: "audio audio2 audio2"
   "audio audio3 audio3"
   "audio4 audio4 audio5";
    width: 75%;
    margin: auto;
    max-width: 1600px;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 120px;
    
}
.gridpara{
   width: 80%;
}
.gridh3{
   color: white;
  margin: 16px 0px;

}
.gridpara{
   color: rgba(255, 255, 255, 1);
   font-weight: 100;
   line-height: 1.4 rem;
}